@(wikiUri: String)(defaultContent: String)(implicit request: RequestHeader, lang: Lang)
@* More template logic here than I really like...  Should be in a controller.
   This gives enough of a cleaner API that I think it's worth the internal ugliness. *@
@defining(Wiki.getPage(wikiUri)) { pageMaybe =>
@defining(if(pageMaybe.isDefined) Html(pageMaybe.get.content) else Html(defaultContent)) { wikiText =>
@defining(if(pageMaybe.isDefined && pageMaybe.get.modifiedDate.isDefined) pageMaybe.get.modifiedDate.get.toString else Messages("wiki.no_modified_date")) { modifiedDateStr =>
@if(Authz.isSuperuser) {
<div class="inline_wiki" id="@wikiUri">
<form action="@views.routes.Wiki.postUpdate" method="post">
<textarea class="inline_wiki_inner tinymce_editor" name="wikitext" id="id_wikitext">@wikiText</textarea>
<span class="inline_wiki_date">@Messages("wiki.last_modified_txt") @modifiedDateStr</span>
<span class="inline_wiki_submit_update"><input type="submit" /></span>
<input type="hidden" id="id_wikiuri" name="wikiuri" value="@wikiUri" />
<input type="hidden" id="id_origpage" name="origpage" value="@request.uri" />
</form>
</div>
} else {
<div class="inline_wiki">
<div class="inline_wiki_inner">@wikiText</div>
<span class="inline_wiki_date">@Messages("wiki.last_modified_txt") @modifiedDateStr</span>
</div>
}
}}}